<div class="language-switcher" aria-label="Language switcher">
  <span class="language-label" data-i18n="language.label">Language</span>
  <button type="button" class="language-button" data-lang-button="en">EN</button>
  <button type="button" class="language-button" data-lang-button="hu">HU</button>
  <button type="button" class="language-button" data-lang-button="de">DE</button>
</div>
